<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$20103016CLDV6212AzureFunctions20210826142600</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://20103016cldv6212azurefunctions20210826142600.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dc839b80-e1fd-40b2-8235-66f2501330ce/resourcegroups/RG20103016/providers/Microsoft.Web/sites/20103016CLDV6212AzureFunctions20210826142600</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://20103016cldv6212azurefunctions20210826142600.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>